.popup {
  z-index: 1;
  position: fixed;
  top: -100px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.5);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

@media screen and (max-width: 680px) {
  .popup {
    top: -244px;
  }
}