.profile__image {
  grid-area: image;
  margin: 3.75px 26.25px 3.75px 0;
  border-radius: 50%;
  transition: 1.2s;
  -webkit-transition: 1.2s;
  -moz-transition: 1.2s;
  -ms-transition: 1.2s;
  -o-transition: 1.2s;
}

@media screen and (max-width: 700px) {
  .profile__image {
    margin: 3.75px 26.25px 3.75px 22.5px;
    justify-self: center;
  }
}