.popup__submit-button {
  width: 100%;
  box-sizing: border-box;
  padding: 14px 124px 18px 125px;
  background: rgba(0, 0, 0, 1);
  border-radius: 2px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .popup__submit-button {
    padding: 14px 82px;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__submit-button:hover {
  background: rgba(0, 0, 0, .8);
  transition: .2s;
}