.elements {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-column-gap: 17px;
  grid-row-gap: 20px;
  max-width: 100%;
  transition: 1.2s;
}

@media screen and (max-width: 320px) {
  .elements {
    grid-template-columns: minmax(min-content, 282px);
  }
}